@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
}

.logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.calc-body {
  width: 920px;
  height: 400px;

  background-color: hsl(189, 41%, 97%);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.valors {
  /* background-color: #000; */
  width: 430px;
  height: 320px;
  border-radius: 15px;
}

fieldset{
  position: relative;
}
legend {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  font-size: 1rem;
}

input {
  background-color: hsl(0, 0%, 89%);
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  width: 350px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: right;
  padding: 10px;

  border-radius: 10px;
}

input.bill {
  background-image: url(../images/icon-dollar.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.numberpeople {
  background-image: url(../images/icon-person.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}

input:focus {
  border: 0.2px solid hsl(172, 67%, 45%);
  outline: none;
}
.tips {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tip {
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  width: 120px;
  height: 50px;
  background-color: hsl(183, 100%, 15%);
}

.tip-custom {
  text-align: center;
  margin-top: -0.5px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: text;
  width: 101px;
  height: 30.5px;
  background-color: hsl(0, 0%, 89%);
}

.tip-custom::placeholder {
  color: hsl(183, 100%, 15%);
}

.tip:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

button.ativo {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.results {
  background-color: hsl(183, 100%, 15%);
  width: 430px;
  height: 320px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-valores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 330px;
  height: 220px;
}
.firstP {
  color: #fff;
  font-size: 1rem;
}

.secondP {
  color: hsl(0, 0%, 60%);
  font-size: 0.8rem;
  margin-top: 10px;
}

.tip-amount {
  grid-row: 1/1;
}
.tip-total {
  grid-row: 2/2;
}

.amountP {
  color: hsl(172, 67%, 45%);
  font-size: 2.8rem;
  font-weight: 700;
  text-align: right;
}

.totalP{
  color: hsl(172, 67%, 45%);
  font-size: 2.8rem;
  font-weight: 700;
  text-align: right;
}

#people-erro.erro-inativo{
  display: none;
  opacity: 0;
  color: red;
  text-align: center;
}

#people-erro.erro-ativo{
  position: absolute;
  top:-20px;
  right: 60px;
  margin-top: 5px;
  opacity: 1;
  color: red;
  text-align: center;
}

input.numberpeople.erroinput {
  border: 1px solid red;
  background-image: url(../images/icon-person.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}